<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Project:  NextGIS Tracker
  ~ Purpose:  Software tracker for nextgis.com cloud
  ~ Author:   Dmitry Baryshnikov <dmitry.baryshnikov@nextgis.com>
  ~ Author:   Stanislav Petriakov, becomeglory@gmail.com
  ~ *****************************************************************************
  ~ Copyright (c) 2018-2019 NextGIS <info@nextgis.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.nextgis.tracker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <uses-feature
            android:name="android.hardware.location"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:installLocation="auto"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/syncadapter"/>

        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.SettingsActivity"
                android:label="@string/action_settings"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme"/>

        <activity android:name=".activity.ContentInstanceActivity"
                android:parentActivityName=".activity.SettingsActivity"
                android:theme="@style/AppThemeWhite" />

        <activity android:name="com.nextgis.maplib.activity.AddInstanceActivity"
                android:label="@string/add_instance"
                android:parentActivityName=".activity.SettingsActivity"
                android:theme="@style/AppTheme" />

        <service
                android:name="com.nextgis.maplib.service.SyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <provider
                android:name="com.nextgis.tracker.provider.StubProvider"
                android:authorities="com.nextgis.tracker"
                android:exported="false"
                android:syncable="true"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.nextgis.tracker.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

        <service
                android:name=".provider.AuthService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <receiver
                android:name=".service.BootLoader"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
                android:name="io.sentry.dsn"
                android:value="@string/TRACKER_SENTRY_DSN" /> <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data
                android:name="io.sentry.traces.user-interaction.enable"
                android:value="true" /> <!-- enable screenshot for crashes -->
        <meta-data
                android:name="io.sentry.attach-screenshot"
                android:value="true" /> <!-- enable view hierarchy for crashes -->
        <meta-data
                android:name="io.sentry.attach-view-hierarchy"
                android:value="true" /> <!-- enable the performance API by setting a sample-rate, adjust in production env -->
        <meta-data
                android:name="io.sentry.traces.sample-rate"
                android:value="1.0" /> <!-- enable profiling when starting transactions, adjust in production env -->
        <meta-data
                android:name="io.sentry.traces.profiling.sample-rate"
                android:value="1.0" />

        <provider
                android:name="io.sentry.android.core.SentryInitProvider"
                android:authorities="${applicationId}.SentryInitProvider"
                tools:node="remove"
                />

        <provider
                android:name="io.sentry.android.core.SentryPerformanceProvider"
                android:authorities="${applicationId}.SentryPerformanceProvider"
                tools:node="remove"
                />

    </application>

</manifest>