<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nextgis.tracker">

    <uses-feature
            android:name="android.hardware.location"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:installLocation="auto"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/syncadapter"/>

        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.SettingsActivity"
                android:label="@string/action_settings"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>

        <service
                android:name="com.nextgis.maplib.service.SyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
        </service>

        <provider
                android:name="com.nextgis.tracker.provider.StubProvider"
                android:authorities="com.nextgis.tracker"
                android:exported="false"
                android:syncable="true"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.nextgis.tracker.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>