<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
<!--    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
<!--    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />-->
<!--    <uses-permission android:name="android.permission.READ_SYNC_STATS" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-feature
            android:name="android.hardware.location"
            android:required="true" />

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:installLocation="auto"
            android:label="@string/APP_NAME"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".activity.AboutActivity"
                android:exported="false"
                android:theme="@style/AppTheme"
                android:label="@string/action_about"
                android:parentActivityName=".activity.MainActivity"

                />
        <activity
                android:name=".activity.MainActivity"
                android:exported="true"
                android:label="@string/APP_NAME"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name=".CUSTOM_SHARE_INTENT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.SettingsActivity"
                android:label="@string/action_settings"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme"
                />
        <activity
                android:name=".activity.ContentInstanceActivity"
                android:parentActivityName=".activity.SettingsActivity"
                android:theme="@style/AppThemeWhite" />
        <activity
                android:name="com.nextgis.maplib.activity.AddInstanceActivity"
                android:label="@string/add_instance"
                android:parentActivityName=".activity.SettingsActivity"
                android:theme="@style/AppTheme" />

<!--        <service-->
<!--                android:name="com.nextgis.maplib.service.SyncService"-->
<!--                android:exported="true"-->
<!--                android:foregroundServiceType="dataSync">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.content.SyncAdapter" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                    android:name="android.content.SyncAdapter"-->
<!--                    android:resource="@xml/syncadapter" />-->
<!--        </service>-->

        <provider
                android:name=".provider.StubProvider"
                android:authorities="@string/provider_auth"
                android:exported="false"
                android:syncable="true" />
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>

        <service
                android:name=".provider.AuthService"
                android:enabled="true"
                android:exported="true"
                android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>

        <receiver
                android:name=".service.BootLoader"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
                android:name="io.sentry.dsn"
                android:value="@string/TRACKER_SENTRY_DSN" /> <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data
                android:name="io.sentry.traces.user-interaction.enable"
                android:value="true" /> <!-- enable screenshot for crashes -->
        <meta-data
                android:name="io.sentry.attach-screenshot"
                android:value="true" /> <!-- enable view hierarchy for crashes -->
        <meta-data
                android:name="io.sentry.attach-view-hierarchy"
                android:value="true" /> <!-- enable the performance API by setting a sample-rate, adjust in production env -->
        <meta-data
                android:name="io.sentry.traces.sample-rate"
                android:value="1.0" /> <!-- enable profiling when starting transactions, adjust in production env -->
        <meta-data
                android:name="io.sentry.traces.profiling.sample-rate"
                android:value="1.0" />

        <provider
                android:name="io.sentry.android.core.SentryInitProvider"
                android:authorities="${applicationId}.SentryInitProvider"
                tools:node="remove" />
        <provider
                android:name="io.sentry.android.core.SentryPerformanceProvider"
                android:authorities="${applicationId}.SentryPerformanceProvider"
                tools:node="remove" />
    </application>

</manifest>